<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.airchina.com.cn/favicon.ico"/>
    <title>飞行任务书审核辅助系统</title>
    <link href="/aircrew/static/asserts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/aircrew/static/asserts/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/aircrew/static/asserts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="commons/bar2::sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div>
                    <div>
                        <h1 class="h3 text-gray-700 mb-4" style="margin-left:10px;margin-top: 30px;">飞行任务书审核辅助系统</h1>
                    </div>
                </div>
                <a>
                    <a style="display:block;position:absolute;right:1%;top:30%;color:grey" href="/aircrew/logout">退出</a>
                </a>
            </nav>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">各部门确认状况</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>财务部确认状态</th>
                                    <th>飞行部确认状态</th>
                                    <th>人力部确认状态</th>
                                    <th shiro:hasAnyPermissions="user:air,user:fl">机长资质M改J状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${flConfirm}" id="flConfirm"></td>
                                    <td th:text="${airConfirm}" id="airConfirm"></td>
                                    <td th:text="${mpConfirm}" id="mpConfirm"></td>
                                    <td th:text="${mChangeToJStatus}" shiro:hasAnyPermissions="user:air,user:fl"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">系统数据库数据情况</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>表名</th>
                                    <th>最后一条数据</th>
                                    <th>数据总量</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td th:text="${doubleFlight}"></td>
                                    <td th:text="${doubleFlightState}"></td>
                                    <td th:text="${doubleFlightCount}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${moreDoubleFlight}"></td>
                                    <td th:text="${moreDoubleFlightState}"></td>
                                    <td th:text="${moreDoubleFlightCount}"></td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <div style="text-align:left">
                            <div class="btn-group">
                                <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    查看航班表 <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li><a href="/aircrew/doubleFlight/doubleFlight.html" class="dropdown-item">修改双机长航班</a>
                                    </li>
                                    <li><a href="/aircrew/doubleFlight/moreDoubleFlight.html" class="dropdown-item">修改多机长航班</a>
                                    </li>
                                    <li><a href="/aircrew/doubleFlight/filterDoubleFlight.html" class="dropdown-item">修改不符合条件的双机长航班</a>
                                    </li>
                                    <li><a href="" data-toggle="modal" data-target="#addProperty" data-dismiss="modal"
                                           class="dropdown-item">添加机组资质</a></li>
                                    <li><a href="/aircrew/doubleFlight/property.html" class="dropdown-item">查看机组资质</a>
                                </ul>
                            </div>

                            <div class="btn-group" shiro:hasPermission="user:air">
                                <button class="btn-lg btn-primary " data-toggle="modal" data-target="#MtoJ"
                                        aria-haspopup="true" aria-expanded="false">
                                    机长资质M改J
                                </button>
                            </div>

                            <div class="btn-group" shiro:hasPermission="user:fl">
                                <button class="btn-lg btn-primary " data-toggle="modal" data-target="#doubleFlight"
                                        aria-haspopup="true" aria-expanded="false">
                                    生成机长航班表
                                </button>
                            </div>

                            <div class="btn-group">
                                <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    下载数据 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" Onclick="downloadDoubleFlight()"
                                           class="dropdown-item">下载双机长航班表</a>
                                    </li>
                                    <li><a href="javascript:void(0);" Onclick="downloadMoreDoubleFlight()"
                                           class="dropdown-item">下载多机长航班表</a>
                                    </li>
                                    <li shiro:hasPermission="user:fl"><a href="javascript:void(0);"
                                                                         Onclick="downloadFl()" class="dropdown-item">下载财务数据</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn-lg btn-primary " th:text="${department}+'部确认'" id="confirm">
                                </button>
                            </div>

                            <div class="btn-group">
                                <button class="btn-lg btn-primary " id="cancelConfirm">
                                    取消确认
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 重庆信息分部</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="modal fade" id="doubleFlight" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addUpLabel">生成双与多机长航班表</h4>
            </div>
            <div class="modal-body"></div>
            <p style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;提交后将生成新的双机长航班表和多机长航班表。</p>
            <p style="color: red">&nbsp;&nbsp;&nbsp; 原有双机长和多机长航班表将被覆盖。</p>
            <p style="color: red">&nbsp;&nbsp;&nbsp; 各部门确认状态将重置。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;请选择双机长航班满足条件时是否标注以下信息</p>
            <div class="checkbox">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="doubleFlight" type="checkbox" value="doubleFlight">
                    标注双组航线
                </label>
                <br>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="cadre" type="checkbox" value="cadre">
                    标注干部飞行员
                </label>
                <br>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="nightFlight" type="checkbox" value="nightFlight">
                    标注过夜航班
                </label>
                <br>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="stageDoubleFlight" type="checkbox" value="stageDoubleFlight">
                    标注阶段双组航班
                </label>
            </div>
            <div class="modal-footer">
                <span id="Status" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="生成" class="btn btn-success" id="calculateSubmit">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MtoJ" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:370px">
        <div class="modal-content">
            <div class="modal-body">
                <span>是否将机长资质中的M见习机长改为J机长？</span>
                <br><br>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-success" id="MtoJConfirm" th:text="确定"></button>
                <span id="MtoJStatus" style="color: red"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProperty" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="property">机组资质</label>
                    <input type="text" class="form-control" id="property" name="stageDoubleFlightNumber"
                           placeholder="机组资质"/>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addPropertySubmit" th:text="添加"></button>
                <span id="propertyStatus" style="color: red"></span>
            </div>
        </div>
    </div>
</div>

</body>
<!-- /.container-fluid -->
<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/asserts/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/asserts/js/sb-admin-2.min.js}"></script>
<script th:src="@{/static/asserts/js/data.js}"></script>

<script>
    $(function () {
        if (document.getElementById("flConfirm").innerHTML === "未确认") {
            $('#flConfirm').css('color', 'red');
        } else {
            $('#flConfirm').css('color', 'green');
        }

        if (document.getElementById("airConfirm").innerHTML === "未确认") {
            $('#airConfirm').css('color', 'red');
        } else {
            $('#airConfirm').css('color', 'green');
        }

        if (document.getElementById("mpConfirm").innerHTML === "未确认") {
            $('#mpConfirm').css('color', 'red');
        } else {
            $('#mpConfirm').css('color', 'green');
        }

        $('#MtoJConfirm').click(function () {
            document.getElementById("propertyStatus").innerHTML = "";
            $.ajax({
                type: "post",
                url: "/aircrew/doubleFlight/MtoJ",
                success: function (data) {
                    var msg = data.msg;
                    if (msg === "修改成功") {
                        $('#MtoJStatus').css('color', 'green');
                    } else {
                        $('#MtoJStatus').css('color', 'red');
                    }
                    $('#MtoJStatus').html(msg);
                    self.setInterval(function () {  // 这个方法是说在延迟两秒后执行大括号里的方法
                        location.reload(true);   // 这个方法是刷新当前页面
                    }, 2000);
                }
            })
        });

        $('#calculateSubmit').click(function () {
            $("#Status").css('color', "red");
            $("#Status").html("生成中");
            var $doubleFlight = jQuery("input[name='doubleFlight']:checked").val();
            var $cadre = jQuery("input[name='cadre']:checked").val();
            var $nightFlight = jQuery("input[name='nightFlight']:checked").val();
            var $stageDoubleFlight = jQuery("input[name='stageDoubleFlight']:checked").val();

            $.ajax({
                type: "post",
                url: "/aircrew/doubleFlight/calculateFlight",
                data: {
                    "doubleFlight": $doubleFlight,
                    "cadre": $cadre,
                    "nightFlight": $nightFlight,
                    "stageDoubleFlight": $stageDoubleFlight
                },
                dataType: "json",
                success: function (data) {
                    var msg = data.msg;
                    if (msg === "双(多)机长航班表已生成")
                        $("#Status").css('color', "green");
                    self.setInterval(function () {  // 这个方法是说在延迟两秒后执行大括号里的方法
                        location.reload(true);   // 这个方法是刷新当前页面
                    }, 2000);
                    $("#Status").html(msg);
                }
            });
        });

        $('#addPropertySubmit').click(function () {
            var property = document.getElementById("property").value;
            document.getElementById("propertyStatus").innerHTML = "";
            $.ajax({
                type: "post",
                url: "/aircrew/addProperty",
                data: {
                    property: property
                },
                dataType: "json",
                success: function (data) {
                    var msg = data.msg;
                    if (msg === "添加成功") {
                        $('#propertyStatus').css('color', 'green');
                    } else {
                        $('#propertyStatus').css('color', 'red');
                    }
                    $('#propertyStatus').html(msg);
                }
            })
        });

        $('#confirm').click(function () {
            $.ajax({
                type: "post",
                url: "/aircrew/doubleFlight/confirm",
                success: function () {
                    self.setInterval(function () {  // 这个方法是说在延迟两秒后执行大括号里的方法
                        location.reload();   // 这个方法是刷新当前页面
                    }, 500);
                }
            });
        });

        $('#cancelConfirm').click(function () {
            $.ajax({
                type: "post",
                url: "/aircrew/doubleFlight/cancelConfirm",
                success: function () {
                    self.setInterval(function () {  // 这个方法是说在延迟两秒后执行大括号里的方法
                        location.reload();   // 这个方法是刷新当前页面
                    }, 500);
                }
            });
        });

    });

    function downloadFl() {
        $.ajax({
            type: "POST",
            url: "/aircrew/doubleFlight/downloadJudge",
            success: function (data) {
                var msg = data.msg;
                if (msg === "存在尚未确认的部门")
                    alert("由于" + msg + "，无法下载");
                else if (msg === "三部门已确认")
                    window.location.href = "/aircrew/doubleFlight/downloadFl";
            }
        });
    }

    function downloadDoubleFlight() {
        $.ajax({
            type: "POST",
            url: "/aircrew/doubleFlight/downloadJudge",
            async: false,
            success: function (data) {
                var msg = data.msg;
                if (msg === "存在尚未确认的部门")
                    alert("由于" + msg + "，无法下载");
                else if (msg === "三部门已确认") {
                    window.location.href = "/aircrew/doubleFlight/downloadDoubleFlight";
                }
            }
        })

    }

    function downloadMoreDoubleFlight() {
        $.ajax({
            type: "POST",
            url: "/aircrew/doubleFlight/downloadJudge",
            async: false,
            success: function (data) {
                var msg = data.msg;
                if (msg === "存在尚未确认的部门")
                    alert("由于" + msg + "，无法下载");
                else if (msg === "三部门已确认") {
                    window.location.href = "/aircrew/doubleFlight/downloadMoreDoubleFlight";
                }
            }
        })

    }

</script>
</html>