<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.airchina.com.cn/favicon.ico"/>
    <title>双组航线查看</title>
    <link href="/aircrew/static/asserts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/aircrew/static/asserts/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/aircrew/static/asserts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        th {
            font-size: 1px;
        }

        td {
            font-size: 1px;
        }
    </style>
</head>
<body id="page-top" class="sidebar-toggled" onload="IniEvent()">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column" style="position: relative;width: 100%;">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
                <div>
                    <div>
                        <h1 class="h3 text-gray-700 mb-4" style="margin-left:10px;margin-top: 30px;">飞行任务书审核辅助系统</h1>
                    </div>
                </div>
                <a>
                    <a style="display:block;position:absolute;right:5%;top:50%;color:grey"
                       href="/aircrew/doubleFlight/flight.html">返回</a>
                    <a style="display:block;position:absolute;right:1%;top:50%;color:grey" href="/aircrew/logout">退出</a>
                </a>
            </nav>
            <div class="container-fluid" style="background-color: white;margin-top: 10px;">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">多机长航班查看</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>起飞日期</th>
                                    <th>航班号</th>
                                    <th>航线名称</th>
                                    <th>城市三字码</th>
                                    <th>机组1</th>
                                    <th>资质1</th>
                                    <th>机组2</th>
                                    <th>资质2</th>
                                    <th th:if="${select ==3 || select==4 || select==5}">机组3</th>
                                    <th th:if="${select ==3 || select==4 || select==5}">资质3</th>
                                    <th th:if="${select ==4 || select==5}">机组4</th>
                                    <th th:if="${select ==4 || select==5}">资质4</th>
                                    <th th:if="${select ==5}">机组5</th>
                                    <th th:if="${select ==5}">资质5</th>
                                    <th>机组组合</th>
                                    <th>双组航线检查</th>
                                    <th>过夜航班</th>
                                    <th>阶段双组</th>
                                    <th>C检查航线</th>
                                    <th>飞行管理人员</th>
                                    <th>飞行部资质修改记录</th>
                                    <th>飞行部修改说明</th>
                                    <th>人力部资质修改记录</th>
                                    <th>人力部修改说明</th>
                                    <th shiro:hasAnyPermissions="user:air,user:mp">编辑</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="doubleFlight:${doubleFlightList}">
                                    <td th:text="${doubleFlight.date}"></td>
                                    <td th:text="${doubleFlight.no}"></td>
                                    <td th:text="${doubleFlight.line}"></td>
                                    <td th:text="${doubleFlight.tcc}"></td>
                                    <td th:text="${doubleFlight.firstPosition}"></td>
                                    <td th:text="${doubleFlight.firstQualification}"></td>
                                    <td th:text="${doubleFlight.secondPosition}"></td>
                                    <td th:text="${doubleFlight.secondQualification}"></td>
                                    <td th:if="${select ==3 || select==4 || select==5}"
                                        th:text="${doubleFlight.thirdPosition}"></td>
                                    <td th:if="${select ==3 || select==4 || select==5}"
                                        th:text="${doubleFlight.thirdQualification}"></td>
                                    <td th:if="${select ==4 || select==5}"
                                        th:text="${doubleFlight.fourthPosition}"></td>
                                    <td th:if="${select ==4 || select==5}"
                                        th:text="${doubleFlight.fourthQualification}"></td>
                                    <td th:if="${select ==5}" th:text="${doubleFlight.fifthPosition}"></td>
                                    <td th:if="${select ==5}" th:text="${doubleFlight.fifthQualification}"></td>
                                    <td th:text="${doubleFlight.flightCombine}"></td>
                                    <td th:text="${doubleFlight.doubleLine}"></td>
                                    <td th:text="${doubleFlight.nightFlight}"></td>
                                    <td th:text="${doubleFlight.stageDoubleFlight}"></td>
                                    <td th:text="${doubleFlight.flightCheck}"></td>
                                    <td th:text="${doubleFlight.cadre}"></td>
                                    <td th:text="${doubleFlight.airChangeRecord}"></td>
                                    <td th:text="${doubleFlight.airRemark}"></td>
                                    <td th:text="${doubleFlight.mpChangeRecord}"></td>
                                    <td th:text="${doubleFlight.mpRemark}"></td>
                                    <td shiro:hasAnyPermissions="user:air,user:mp">
                                        <button class="btn-small btn-primary" data-toggle="modal" data-target="#edit"
                                                shiro:hasPermission="user:air"
                                                th:data-id="${doubleFlight.id}"
                                                th:data-line="${doubleFlight.line}"
                                                th:data-firstposition="${doubleFlight.firstPosition}"
                                                th:data-firstqualification="${doubleFlight.firstQualification}"
                                                th:data-secondposition="${doubleFlight.secondPosition}"
                                                th:data-secondqualification="${doubleFlight.secondQualification}"
                                                th:data-thirdposition="${doubleFlight.thirdPosition}"
                                                th:data-thirdqualification="${doubleFlight.thirdQualification}"
                                                th:data-fourthposition="${doubleFlight.fourthPosition}"
                                                th:data-fourthqualification="${doubleFlight.fourthQualification}"
                                                th:data-fifthposition="${doubleFlight.fifthPosition}"
                                                th:data-fifthqualification="${doubleFlight.fifthQualification}"
                                                th:data-doubleline="${doubleFlight.doubleLine}"
                                                th:data-nightflight="${doubleFlight.nightFlight}"
                                                th:data-stagedoubleflight="${doubleFlight.stageDoubleFlight}"
                                                th:data-flightcheck="${doubleFlight.flightCheck}"
                                                th:data-cadre="${doubleFlight.cadre}"
                                                th:data-remark="${doubleFlight.airRemark}">修改
                                        </button>
                                        <button class="btn-small btn-primary" data-toggle="modal" data-target="#edit"
                                                shiro:hasPermission="user:mp"
                                                th:data-id="${doubleFlight.id}"
                                                th:data-line="${doubleFlight.line}"
                                                th:data-firstposition="${doubleFlight.firstPosition}"
                                                th:data-firstqualification="${doubleFlight.firstQualification}"
                                                th:data-secondposition="${doubleFlight.secondPosition}"
                                                th:data-secondqualification="${doubleFlight.secondQualification}"
                                                th:data-thirdposition="${doubleFlight.thirdPosition}"
                                                th:data-thirdqualification="${doubleFlight.thirdQualification}"
                                                th:data-fourthposition="${doubleFlight.fourthPosition}"
                                                th:data-fourthqualification="${doubleFlight.fourthQualification}"
                                                th:data-fifthposition="${doubleFlight.fifthPosition}"
                                                th:data-fifthqualification="${doubleFlight.fifthQualification}"
                                                th:data-doubleline="${doubleFlight.doubleLine}"
                                                th:data-nightflight="${doubleFlight.nightFlight}"
                                                th:data-stagedoubleflight="${doubleFlight.stageDoubleFlight}"
                                                th:data-flightcheck="${doubleFlight.flightCheck}"
                                                th:data-cadre="${doubleFlight.cadre}"
                                                th:data-remark="${doubleFlight.mpRemark}">修改
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align: center">
                            <p><a style="display:block;position:absolute;left:2%;color:grey"
                                  href="/aircrew/doubleFlight/flight.html">返回</a>共 <span th:text="${count}"></span> 条数据
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group" align="left" style="display: none;">
                    <label for="id">id</label>
                    <input type="text" class="form-control" id="id" name="id" readonly="readonly"/>
                </div>
                <div class="form-group" align="left">
                    <label for="line">航线</label>
                    <input type="text" class="form-control" id="line" name="line"/>
                </div>
                <div class="form-group" align="left">
                    <label for="firstPosition">机组1</label>
                    <input type="text" class="form-control" id="firstPosition" name="firstPosition"/>
                </div>
                <div class="form-group" align="left">
                    <label for="firstQualification">资质1</label>
                    <br>
                    <select class="form-control" id="firstQualification">
                        <option th:each="result:${propertiesList}" th:text="${result}"></option>
                    </select>
                </div>
                <div class="form-group" align="left">
                    <label for="secondPosition">机组2</label>
                    <input type="text" class="form-control" id="secondPosition" name="secondPosition"/>
                </div>
                <div class="form-group" align="left">
                    <label for="secondQualification">资质2</label>
                    <br>
                    <select class="form-control" id="secondQualification">
                        <option th:each="result:${propertiesList}" th:text="${result}"></option>
                    </select>
                </div>
                <div class="form-group" align="left" th:if="${ select==5 || select==4 || select==3}">
                    <label for="thirdPosition">机组3</label>
                    <input type="text" class="form-control" id="thirdPosition" name="thirdPosition"/>
                </div>
                <div class="form-group" align="left" th:if="${ select==5 || select==4 || select==3}">
                    <label for="thirdQualification">资质3</label>
                    <br>
                    <select class="form-control" id="thirdQualification">
                        <option th:each="result:${propertiesList}" th:text="${result}"></option>
                    </select>
                </div>
                <div class="form-group" align="left" th:if="${select==4 || select==5}">
                    <label for="fourthPosition">机组4</label>
                    <input type="text" class="form-control" id="fourthPosition" name="fourthPosition"/>
                </div>
                <div class="form-group" align="left" th:if="${select==4 || select==5}">
                    <label for="fourthQualification">资质4</label>
                    <br>
                    <select class="form-control" id="fourthQualification">
                        <option th:each="result:${propertiesList}" th:text="${result}"></option>
                    </select>
                </div>
                <div class="form-group" align="left" th:if="${select==5} ">
                    <label for="fifthPosition">机组5</label>
                    <input type="text" class="form-control" id="fifthPosition" name="fifthPosition"/>
                </div>
                <div class="form-group" align="left" th:if="${select==5} ">
                    <label for="fifthQualification">资质5</label>
                    <br>
                    <select class="form-control" id="fifthQualification">
                        <option th:each="result:${propertiesList}" th:text="${result}"></option>
                    </select>
                </div>
                <div class="form-group" align="left">
                    <label for="doubleLine">双组航线检查</label>
                    <input type="text" class="form-control" id="doubleLine" name="doubleLine"/>
                </div>
                <div class="form-group" align="left">
                    <label for="nightFlight">过夜航班</label>
                    <input type="text" class="form-control" id="nightFlight" name="nightFlight"/>
                </div>
                <div class="form-group" align="left">
                    <label for="stageDoubleFlight">阶段双组</label>
                    <input type="text" class="form-control" id="stageDoubleFlight" name="stageDoubleFlight"/>
                </div>
                <div class="form-group" align="left">
                    <label for="flightCheck">C检查航线</label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="checkSelect1" type="checkbox" value="1">
                        机组1
                    </label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="checkSelect2" type="checkbox" value="2">
                        机组2
                    </label>
                    <label th:if="${ select==5 || select==4 || select==3}">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="checkSelect3" type="checkbox" value="3">
                        机组3
                    </label>
                    <label th:if="${select==4 || select==5}">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="checkSelect4" type="checkbox" value="4">
                        机组4
                    </label>
                    <label th:if="${select==5}">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="checkSelect5" type="checkbox" value="5">
                        机组5
                    </label>
                    <input type="text" class="form-control" id="flightCheck" name="flightCheck"/>
                </div>
                <div class="form-group" align="left">
                    <label for="cadre">飞行管理人员</label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="cadreSelect1" type="checkbox" value="1">
                        机组1
                    </label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="cadreSelect2" type="checkbox" value="2">
                        机组2
                    </label>
                    <label th:if="${ select==5 || select==4 || select==3}">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="cadreSelect3" type="checkbox" value="3">
                        机组3
                    </label>
                    <label th:if="${select==4 || select==5}">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="cadreSelect4" type="checkbox" value="4">
                        机组4
                    </label>
                    <label th:if="${select==5}">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="cadreSelect5" type="checkbox" value="5">
                        机组5
                    </label>
                    <input type="text" class="form-control" id="cadre" name="cadre"/>
                </div>
                <div class="form-group" align="left">
                    <label for="remarks">修改说明</label>
                    <input type="text" class="form-control" id="remarks" name="remarks"/>
                </div>
                <span id="doubleFlightStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="updateMoreDoubleFlightSubmit" th:text="修改"></button>
            </div>
        </div>
    </div>
</div>
</body>
<!-- /.container-fluid -->
<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/asserts/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/static/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/static/asserts/js/sb-admin-2.min.js}"></script>
<script th:src="@{/static/asserts/js/data.js}"></script>
<script>

    $('#edit').on("show.bs.modal", function (e) {
        var id = $(e.relatedTarget).data("id");
        var line = $(e.relatedTarget).data("line");
        var firstPosition = $(e.relatedTarget).data("firstposition");
        var firstQualification = $(e.relatedTarget).data("firstqualification");
        var secondPosition = $(e.relatedTarget).data("secondposition");
        var secondQualification = $(e.relatedTarget).data("secondqualification");
        var thirdPosition = $(e.relatedTarget).data("thirdposition");
        var thirdQualification = $(e.relatedTarget).data("thirdqualification");
        if ($(e.relatedTarget).data("fourthposition") != null) {
            var fourthPosition = $(e.relatedTarget).data("fourthposition");
            var fourthQualification = $(e.relatedTarget).data("fourthqualification");
        }
        if ($(e.relatedTarget).data("fifthposition") != null) {
            var fifthPosition = $(e.relatedTarget).data("fifthposition");
            var fifthQualification = $(e.relatedTarget).data("fifthqualification");
        }
        var doubleLine = $(e.relatedTarget).data("doubleline");
        var nightFlight = $(e.relatedTarget).data("nightflight");
        var stageDoubleFlight = $(e.relatedTarget).data("stagedoubleflight");
        var flightCheck = $(e.relatedTarget).data("flightcheck");
        var cadre = $(e.relatedTarget).data("cadre");
        var remark = $(e.relatedTarget).data("remark");
        var modal = $(this);
        modal.find('#id').val(id);
        modal.find('#line').val(line);
        modal.find('#firstPosition').val(firstPosition);
        modal.find('#firstQualification').val(firstQualification);
        modal.find('#secondPosition').val(secondPosition);
        modal.find('#secondQualification').val(secondQualification);
        modal.find('#thirdPosition').val(thirdPosition);
        modal.find('#thirdQualification').val(thirdQualification);
        modal.find('#fourthPosition').val(fourthPosition);
        modal.find('#fourthQualification').val(fourthQualification);
        modal.find('#fifthPosition').val(fifthPosition);
        modal.find('#fifthQualification').val(fifthQualification);
        modal.find('#doubleLine').val(doubleLine);
        modal.find('#nightFlight').val(nightFlight);
        modal.find('#stageDoubleFlight').val(stageDoubleFlight);
        modal.find('#flightCheck').val(flightCheck);
        modal.find('#cadre').val(cadre);
        modal.find('#remarks').val(remark);
    });

    $('#updateMoreDoubleFlightSubmit').click(function () {
        var id = document.getElementById("id").value;
        var line = document.getElementById("line").value;
        var firstPosition = document.getElementById("firstPosition").value;
        var firstQualification = document.getElementById("firstQualification").value;
        var secondPosition = document.getElementById("secondPosition").value;
        var secondQualification = document.getElementById("secondQualification").value;

        if(document.getElementById("thirdPosition")!=null){
        var thirdPosition = document.getElementById("thirdPosition").value;
        var thirdQualification = document.getElementById("thirdQualification").value;
        }

        if(document.getElementById("fourthPosition")!=null){
        var fourthPosition = document.getElementById("fourthPosition").value;
        var fourthQualification = document.getElementById("fourthQualification").value;
        }

        if(document.getElementById("fifthPosition")!=null){
        var fifthPosition = document.getElementById("fifthPosition").value;
        var fifthQualification = document.getElementById("fifthQualification").value;
        }

        var doubleLine = document.getElementById("doubleLine").value;
        var nightFlight = document.getElementById("nightFlight").value;
        var stageDoubleFlight = document.getElementById("stageDoubleFlight").value;
        var flightCheck = document.getElementById("flightCheck").value;
        var cadre = document.getElementById("cadre").value;
        var remarks = document.getElementById("remarks").value;

        var $checkSelect1 = jQuery("input[name='checkSelect1']:checked").val();
        var $checkSelect2 = jQuery("input[name='checkSelect2']:checked").val();
        var $checkSelect3 = jQuery("input[name='checkSelect3']:checked").val();
        var $checkSelect4 = jQuery("input[name='checkSelect4']:checked").val();
        var $checkSelect5 = jQuery("input[name='checkSelect5']:checked").val();

        var $cadreSelect1 = jQuery("input[name='cadreSelect1']:checked").val();
        var $cadreSelect2 = jQuery("input[name='cadreSelect2']:checked").val();
        var $cadreSelect3 = jQuery("input[name='cadreSelect3']:checked").val();
        var $cadreSelect4 = jQuery("input[name='cadreSelect4']:checked").val();
        var $cadreSelect5 = jQuery("input[name='cadreSelect5']:checked").val();

        $.ajax({
            type: "post",
            url: "/aircrew/doubleFlight/updateMoreDoubleFlight",
            data: {
                id: id,
                line: line,
                firstPosition: firstPosition,
                firstQualification: firstQualification,
                secondPosition: secondPosition,
                secondQualification: secondQualification,
                thirdPosition: thirdPosition,
                thirdQualification: thirdQualification,
                fourthPosition: fourthPosition,
                fourthQualification: fourthQualification,
                fifthPosition: fifthPosition,
                fifthQualification: fifthQualification,
                doubleLine: doubleLine,
                nightFlight: nightFlight,
                stageDoubleFlight: stageDoubleFlight,
                flightCheck: flightCheck,
                cadre: cadre,
                remarks: remarks,
                checkSelect1: $checkSelect1,
                checkSelect2: $checkSelect2,
                checkSelect3: $checkSelect3,
                checkSelect4: $checkSelect4,
                checkSelect5: $checkSelect5,
                cadreSelect1: $cadreSelect1,
                cadreSelect2: $cadreSelect2,
                cadreSelect3: $cadreSelect3,
                cadreSelect4: $cadreSelect4,
                cadreSelect5: $cadreSelect5

            },
            dataType: "json",
            success: function (data) {
                var msg = data.msg;
                if (msg === "修改成功")
                    $('#doubleFlightStatus').css('color', 'green');
                else
                    $('#doubleFlightStatus').css('color', 'red');
                $('#doubleFlightStatus').html(msg);
                self.setInterval(function () {  // 这个方法是说在延迟两秒后执行大括号里的方法
                    location.reload(true);   // 这个方法是刷新当前页面
                }, 3000);
            }
        })
    });

    function IniEvent() {
        var tbl = document.getElementById("dataTable");
        var trs = tbl.getElementsByTagName("tr"); //getElementsByTagName(按标记名获取元素)
        for (var i = 0; i < trs.length; i++) {
            trs[i].onclick = TrOnClick;
        }
    }

    function TrOnClick() {
        var tbl = document.getElementById("dataTable");
        var trs = tbl.getElementsByTagName("tr");
        for (var i = 0; i < trs.length; i++) {
            if (trs[i] === this) {  //判断是不是当前选择的行
                trs[i].style.background = "AliceBlue";
            } else {
                trs[i].style.background = "white";
            }
        }
    }

</script>
</html>