<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="http://www.airchina.com.cn/favicon.ico" />
    <title>机组数据系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/aircrew/static/asserts/css/dashboard.css" rel="stylesheet" />
</head>

<style>
    th{
        font-size : 17px;
    }
    td{
        font-size : 17px;
    }
    a{
        font-size : 15px;
    }
    label{
        font-size : 13px;
    }
    p{
        font-size : 15px;
    }
    .progress {
        width: 550px;
        height: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px 0px;
        overflow: hidden;
    }
    /* 初始状态设置进度条宽度为0px */
    .progress > div {
        width: 0px;
        height: 100%;
        background-color: yellowgreen;
        transition: all .3s ease;
    }
</style>

<body th:inline="text">
<div class="container-fluid">
    <div class="row">
        <div th:replace="commons/bar::sidebar(activeUri='pilot')"></div>
        <main role="main" class="col-md-7 ml-sm-auto col-lg-11 px-4">
            <div class="table-responsive">
                <table class="table table-striped table-lg">
                    <thead>
                    <tr>
                        <th>数据库中已存在的表</th>
                        <th>表中数据最后航班的时间</th>
                        <th>表中的数据数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td >1</td>
                        <td >1</td>
                        <td >1</td>
                    </tr>
                    <tr>
                        <td >1</td>
                        <td >1</td>
                        <td >1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div style="text-align:left">
            <div class="btn-group">
                <button  class="btn-lg btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    上传Excel数据 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width: 90%">
                    <li><a  href="" data-toggle="modal" data-target="#addAir" >上传航后数据(飞行)</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#addMp" >上传飞行小时费(人力)</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#addFl" >上传生产台账(财务）</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button  class="btn-lg btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    干部飞行员管理 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width: 100%">
                    <li><a href=""  data-toggle="modal" data-target="#addCadre" data-dismiss="modal" >添加干部</a></li>
                    <li><a href="/aircrew/cadre" >查看干部</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button  class="btn-lg btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    特殊航线/航班管理 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width: 100%">
                    <li><a href=""  data-toggle="modal" data-target="#addAirline" data-dismiss="modal" >添加双组航线</a></li>
                    <li><a href="/aircrew/airline" >查看双组航线</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href=""  data-toggle="modal" data-target="#addNightFlight" data-dismiss="modal" >添加过夜航班号</a></li>
                    <li><a href="/aircrew/nightFlight" >查看过夜航班号</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href=""  data-toggle="modal" data-target="#addStageDoubleFlight" data-dismiss="modal" >添加阶段双组航班号</a></li>
                    <li><a href="/aircrew/stageDoubleFlight" >查看阶段双组航班号</a></li>
                </ul>
            </div>
                    <a  href="/aircrew/pilot/pilotcheck/check.html"  class="btn-lg btn-success" >飞行员飞行及调度路线校验</a>
        </div>
    </div>
</div>

<div class="modal fade" id="addAir" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addUpLabel">上传飞行数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>请选择航后数据查询Excel表</P>
            <input type="file" name="addAirFile" id="addAirFile"/>
            <div class="modal-footer">
                <div class="progress">
                    <div></div>
                </div>
                <span id="AirStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal" >退出</button>
                <input type="submit" value="提交" class="btn btn-success"  id="addAirSubmit"  >
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMp" tabindex="-1" role="dialog" aria-labelledby="coverUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addMpLabel">上传人力数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>请选择飞行小时费Excel表</P>
                <input type="file" name="addMpFile" id="addMpFile"/>
            <div class="modal-footer">
                <div class="progress">
                    <div></div>
                </div>
                <span id="MpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success"  id="addMpSubmit"  >
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFl" tabindex="-1" role="dialog" aria-labelledby="coverUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addFlLabel">上传财务数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>请选择生产台账Excel表</P>
            <input type="file" name="addFlFile" id="addFlFile"/>
            <div class="modal-footer">
                <div class="progress">
                    <div></div>
                </div>
                <span id="FlStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success"  id="addFlSubmit"  >
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addCadre" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-footer">
                    <div class="form-group" align="left">
                        <label for="eid" >员工编号</label>
                        <input type="text" class="form-control" id = "eid" name="eid" placeholder="员工号" onfocus="eidFunction()"/>
                    </div>

                    <div class="form-group" align="left">
                        <label for="name" >姓名</label>
                        <input type="text" class="form-control" id ="name" name="name" placeholder="姓名" />
                    </div>

                    <div class="form-group" align="left">
                        <label for="department">部门</label>
                        <input type="text" class="form-control" id = "department" name="department" placeholder="部门" />
                    </div>

                    <div class="form-group" align="left">
                        <label for="qualify">技术资格</label>
                        <input type="text" class="form-control" id = "qualify" name="qualify" placeholder="技术资格" />
                    </div>

                    <div class="form-group" align="left">
                        <label for="category">空勤人员类别</label>
                        <input type="text" class="form-control" id = "category" name="category" placeholder="空勤人员类别" />
                    </div>
                    <span id="cadreStatus" style="color: red"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                    <button type="submit" class="btn btn-success" id="addCadreSubmit" th:text="添加" ></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAirline" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div class="form-group" align="left">
                    <label for="airline" >双组航线(三字码)111</label>
                    <input type="text" class="form-control" id = "airline" name="airline" placeholder="双组航线" onfocus="eidFunction()"/>
                </div>

                <div class="form-group" align="left">
                    <label for="airlineRemark" >备注</label>
                    <input type="text" class="form-control" id = "airlineRemark" name="airlineRemark" placeholder="备注" />
                </div>

                <span id="airlineStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addAirlineSubmit" th:text="添加" ></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNightFlight" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div class="form-group" align="left">
                    <label for="number" >过夜航班号</label>
                    <input type="text" class="form-control" id = "number" name = "number" placeholder = "过夜航班号"  onfocus="eidFunction()" />
                </div>
                <div class="form-group" align="left">
                    <label for="nightFlightRemarks" >备注</label>
                    <input type="text" class="form-control" id = "nightFlightRemarks" name = "nightFlightRemarks" placeholder = "备注" />
                </div>
                <span id="nightFlightStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addNightFlightSubmit" th:text="添加" ></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStageDoubleFlight" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div class="form-group" align="left">
                    <label for="stageDoubleFlightNumber" >阶段双组航班号</label>
                    <input type="text" class="form-control" id = "stageDoubleFlightNumber" name = "stageDoubleFlightNumber" placeholder = "阶段双组航班号"  onfocus="eidFunction()" />
                </div>
                <div class="form-group" align="left">
                    <label for="stageDoubleFlightRemarks" >备注</label>
                    <input type="text" class="form-control" id = "stageDoubleFlightRemarks" name = "stageDoubleFlightRemarks" placeholder = "备注" />
                </div>
                <span id="stageDoubleFlightStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addStageDoubleFlightSubmit" th:text="添加" ></button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(function() {
        //飞行按钮jquery
        $("#addAir").on("hidden.bs.modal", function() {
            document.getElementById("AirStatus").innerHTML="";
            $("#AirStatus").css('color',"red");
            $('.progress > div').css('width', "0%");
        });

        $('#addAirFile').click(function (){
            document.getElementById("AirStatus").innerHTML="";
            $("#AirStatus").css('color',"red");
            $('.progress > div').css('width', "0%");
        });

        $('#addAirSubmit').click(function () {
            var $file2 = $("input[name='addAirFile']").val();//用户文件内容(文件)
            // 判断文件是否为空
            if ($file2 === "") {
                alert("请选择上传的目标文件! ");
                return false;
            }
            var type = "file";
            var formData = new FormData();//这里需要实例化一个FormData来进行文件上传
            formData.append(type, $("#addAirFile")[0].files[0]);
            $.ajax({
                type: "post",
                url: "/aircrew/addAir",
                data: formData,
                processData: false,
                contentType: false,
                xhr : function(){
                    var xhr = new XMLHttpRequest();
                    //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
                    xhr.upload.addEventListener('progress', function (e) {
                        //loaded代表上传了多少
                        //total代表总数为多少
                        var progressRate = (e.loaded / e.total) * 100 + '%';
                        //通过设置进度条的宽度达到效果
                        $('.progress > div').css('width', progressRate);
                    });
                    return xhr;
                },
                success: function (data) {
                    var msg = data.msg;
                    if(msg === "导入成功")
                        $("#AirStatus").css('color',"green");
                    $("#AirStatus").html(msg);
                }
            });
        });

        $("#addMp").on("hidden.bs.modal", function() {
            document.getElementById("MpStatus").innerHTML="";
            $("#AirStatus").css('color',"red");
            $('.progress > div').css('width', "0%");
        });

        $('#addMpFile').click(function (){
            document.getElementById("AirStatus").innerHTML="";
            $("#MpStatus").css('color',"red");
            $('.progress > div').css('width', "0%");
        });

        //人力按钮jquery
        $('#addMpSubmit').click(function () {
            var $file1 = $("input[name='addMpFile']").val();//用户文件内容(文件)
            // 判断文件是否为空
            if ($file1 === "") {
                alert("请选择上传的目标文件! ");
                return false;
            }
            var type = "file";
            var formData = new FormData();//这里需要实例化一个FormData来进行文件上传
            formData.append(type, $("#addMpFile")[0].files[0]);
            $.ajax({
                type: "post",
                url: "/aircrew/addMp",
                data: formData,
                processData: false,
                contentType: false,
                xhr : function(){
                    var xhr = new XMLHttpRequest();
                    //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
                    xhr.upload.addEventListener('progress', function (e) {
                        //loaded代表上传了多少
                        //total代表总数为多少
                        var progressRate = (e.loaded / e.total) * 100 + '%';
                        //通过设置进度条的宽度达到效果
                        $('.progress > div').css('width', progressRate);
                    });
                    return xhr;
                },
                success: function (data) {
                    var msg = data.msg;
                    if(msg === "导入成功")
                        $("#MpStatus").css('color',"green");
                    $("#MpStatus").html(msg);
                }
            });
        });

        $("#addFl").on("hidden.bs.modal", function() {
            document.getElementById("FlStatus").innerHTML="";
            $("#FlStatus").css('color',"red");
            $('.progress > div').css('width', "0%");
        });

        $('#addFlFile').click(function (){
            document.getElementById("FlStatus").innerHTML="";
            $("#FlStatus").css('color',"red");
            $('.progress > div').css('width', "0%");
        });

        //人力按钮jquery
        $('#addFlSubmit').click(function () {
            var $file1 = $("input[name='addFlFile']").val();//用户文件内容(文件)
            // 判断文件是否为空
            if ($file1 === "") {
                alert("请选择上传的目标文件! ");
                return false;
            }
            var type = "file";
            var formData = new FormData();//这里需要实例化一个FormData来进行文件上传
            formData.append(type, $("#addFlFile")[0].files[0]);
            $.ajax({
                type: "post",
                url: "/aircrew/addFl",
                data: formData,
                processData: false,
                contentType: false,
                xhr : function(){
                    var xhr = new XMLHttpRequest();
                    //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
                    xhr.upload.addEventListener('progress', function (e) {
                        //loaded代表上传了多少
                        //total代表总数为多少
                        var progressRate = (e.loaded / e.total) * 100 + '%';
                        //通过设置进度条的宽度达到效果
                        $('.progress > div').css('width', progressRate);
                    });
                    return xhr;
                },
                success: function (data) {
                    var msg = data.msg;
                    if(msg === "导入成功")
                        $("#FlStatus").css('color',"green");
                    $("#FlStatus").html(msg);
                }
            });
        });

        $('#addCadreSubmit').click(function (){
            var eid = document.getElementById("eid").value;
            var name = document.getElementById("name").value;
            var department = document.getElementById("department").value;
            var qualify = document.getElementById("qualify").value;
            var category = document.getElementById("category").value;
            $.ajax({
                type:"post",
                url:"/aircrew/Cadre",
                data:{
                    eid : eid,
                    name : name,
                    department : department,
                    qualify : qualify,
                    category : category
                },
                dataType : "json",
                success : function(data) {
                    var msg = data.msg;
                    if(msg==="添加成功")
                        $('#cadreStatus').css('color','green');
                    else
                        $('#cadreStatus').css('color','red');
                    $('#cadreStatus').html(msg);
                }
            })
        });

        $('#addAirlineSubmit').click(function(){
            var airline = document.getElementById("airline").value;
            var airlineRemark = document.getElementById("airlineRemark").value;
            $.ajax({
                type:"post",
                url:"/aircrew/Airline",
                data:{
                    airline :airline,
                    airlineRemark : airlineRemark
                },
                dataType : "json",
                success : function(data){
                    var msg = data.msg;
                    if(msg==="添加成功")
                        $('#airlineStatus').css('color','green');
                    else
                        $('#airlineStatus').css('color','red');
                    $('#airlineStatus').html(msg);
                }
            })
        });

        $('#addNightFlightSubmit').click(function(){
            var number = document.getElementById("number").value;
            var nightFlightRemarks = document.getElementById("nightFlightRemarks").value;
            $.ajax({
                type:"post",
                url:"/aircrew/nightFlight",
                data:{
                    number : number,
                    nightFlightRemarks : nightFlightRemarks
                },
                dataType : "json",
                success : function(data){
                    var msg = data.msg;
                    if(msg==="添加成功")
                        $('#nightFlightStatus').css('color','green');
                    else
                        $('#nightFlightStatus').css('color','red');
                    $('#nightFlightStatus').html(msg);
                }
            })
        });

        $('#addStageDoubleFlightSubmit').click(function(){
            var number = document.getElementById("stageDoubleFlightNumber").value;
            var remarks = document.getElementById("stageDoubleFlightRemarks").value;
            $.ajax({
                type:"post",
                url:"/aircrew/stageDoubleFlight",
                data:{
                    number : number,
                    remarks : remarks
                },
                dataType : "json",
                success : function(data){
                    var msg = data.msg;
                    if(msg==="添加成功")
                        $('#stageDoubleFlightStatus').css('color','green');
                    else
                        $('#stageDoubleFlightStatus').css('color','red');
                    $('#stageDoubleFlightStatus').html(msg);
                }
            })
        });

    });

    function eidFunction(){
        $('#cadreStatus').css('color','red');
        document.getElementById("cadreStatus").innerHTML="";
        document.getElementById("eid").innerHTML="";
        document.getElementById("name").innerHTML="";
        document.getElementById("department").innerHTML="";
        document.getElementById("airlineStatus").innerHTML="";
        document.getElementById("nightFlightStatus").innerHTML="";
        document.getElementById("stageDoubleFlightStatus").innerHTML="";
    }
</script>
</html>