<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>飞行任务书审核辅助系统</title>
    <link href="/aircrew/static/asserts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/aircrew/static/asserts/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/aircrew/static/asserts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="commons/bar2::sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div>
                    <div>
                        <h1 class="h3 text-gray-700 mb-4" style="margin-left:10px;margin-top: 30px;">飞行任务书审核辅助系统</h1>
                    </div>
                </div>
                <a>
                    <a style="display:block;position:absolute;right:1%;top:30%;color:grey" href="/aircrew/logout">退出</a>
                </a>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">系统数据库数据情况</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>表名</th>
                                    <th>最后一条数据</th>
                                    <th>数据总量</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${air}"></td>
                                    <td th:text="${lastAirState}"></td>
                                    <td th:text="${airCount}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${lastMp}"></td>
                                    <td th:text="${lastLastMpState}"></td>
                                    <td th:text="${lastMpCount}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${mp}"></td>
                                    <td th:text="${lastMpState}"></td>
                                    <td th:text="${mpCount}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${nextMp}"></td>
                                    <td th:text="${nextLastMpState}"></td>
                                    <td th:text="${nextMpCount}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${fl}"></td>
                                    <td th:text="${lastFlState}"></td>
                                    <td th:text="${flCount}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

            <div style="display:block;margin-left:25px;position:static;" shiro:hasPermission="user:data">
                <div class="btn-group">
                    <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        上传Excel数据 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 90%">
                        <li><a href="" data-toggle="modal" data-target="#addAir" class="dropdown-item">上传本月航后数据(飞行)</a>
                        </li>
                        <li><a href="" data-toggle="modal" data-target="#addLastMp"
                               class="dropdown-item">上传上月飞行小时费(人力)</a></li>
                        <li><a href="" data-toggle="modal" data-target="#addMp" class="dropdown-item">上传本月飞行小时费(人力)</a>
                        </li>
                        <li><a href="" data-toggle="modal" data-target="#addNextMp"
                               class="dropdown-item">上传下月月飞行小时费(人力)</a></li>
                        <li><a href="" data-toggle="modal" data-target="#addFl" class="dropdown-item">上传本月生产台账(财务）</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        清空系统数据 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 90%">
                        <li><a href="" data-toggle="modal" data-target="#deleteAll" class="dropdown-item">全部清空</a></li>
                        <li><a href="" data-toggle="modal" data-target="#deleteAir"
                               class="dropdown-item">清空本月航后数据(飞行)</a></li>
                        <li><a href="" data-toggle="modal" data-target="#deleteLastMp" class="dropdown-item">清空上月飞行小时费(人力)</a>
                        </li>
                        <li><a href="" data-toggle="modal" data-target="#deleteMp"
                               class="dropdown-item">清空本月飞行小时费(人力)</a></li>
                        <li><a href="" data-toggle="modal" data-target="#deleteNextMp" class="dropdown-item">清空下月飞行小时费(人力)</a>
                        </li>
                        <li><a href="" data-toggle="modal" data-target="#deleteFl"
                               class="dropdown-item">清空本月生产台账(财务）</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        干部飞行员管理 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 100%">
                        <li><a href="" data-toggle="modal" data-target="#addCadre" data-dismiss="modal"
                               class="dropdown-item">添加干部</a></li>
                        <li><a href="/aircrew/data/cadre" class="dropdown-item">查看干部</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        特殊航线/航班管理 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 100%">
                        <li><a href="" data-toggle="modal" data-target="#addAirline" data-dismiss="modal"
                               class="dropdown-item">添加双组航线</a></li>
                        <li><a href="/aircrew/data/airline" class="dropdown-item">查看双组航线</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="" data-toggle="modal" data-target="#addNightFlight" data-dismiss="modal"
                               class="dropdown-item">添加过夜航班号</a></li>
                        <li><a href="/aircrew/data/nightFlight" class="dropdown-item">查看过夜航班号</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="" data-toggle="modal" data-target="#addStageDoubleFlight" data-dismiss="modal"
                               class="dropdown-item">添加阶段双组航班号</a></li>
                        <li><a href="/aircrew/data/stageDoubleFlight" class="dropdown-item">查看阶段双组航班号</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        数据对比 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 80%">
                        <li><a href="/aircrew/data/compareFlAir" class="dropdown-item">财务数据与飞行数据对比</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/aircrew/data/compareAirMp" class="dropdown-item">飞行数据与人力数据对比</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 重庆信息分部</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<div class="modal fade" id="addAir" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addUpLabel" style=" position:absolute; width:200px; height:10px; ">
                    上传飞行数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请选择航后数据查询Excel表</P>
            <input type="file" name="addAirFile" id="addAirFile" style="margin-left:20px;"/>
            <div class="modal-footer">
                <span id="AirStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success" id="addAirSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMp" tabindex="-1" role="dialog" aria-labelledby="coverUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addMpLabel" style=" position:absolute; width:200px; height:10px; ">
                    上传本月人力数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请选择飞行小时费Excel表</P>
            <input type="file" name="addMpFile" id="addMpFile" style="margin-left:20px;"/>
            <div class="modal-footer">
                <span id="MpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success" id="addMpSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addLastMp" tabindex="-1" role="dialog" aria-labelledby="coverUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addLastMpLabel" style=" position:absolute; width:200px; height:10px; ">
                    上传上月人力数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请选择飞行小时费Excel表</P>
            <input type="file" name="addMpFile" id="addLastMpFile" style="margin-left:20px;"/>
            <div class="modal-footer">
                <span id="LastMpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success" id="addLastMpSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNextMp" tabindex="-1" role="dialog" aria-labelledby="coverUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addNextMpLabel" style=" position:absolute; width:200px; height:10px; ">
                    上传下月人力数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请选择飞行小时费Excel表</P>
            <input type="file" name="addMpFile" id="addNextMpFile" style="margin-left:20px;"/>
            <div class="modal-footer">
                <span id="NextMpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success" id="addNextMpSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFl" tabindex="-1" role="dialog" aria-labelledby="coverUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addFlLabel" style=" position:absolute; width:200px; height:10px; ">
                    上传财务数据</h4>
            </div>
            <div class="modal-body"></div>
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请选择生产台账Excel表</P>
            <input type="file" name="addFlFile" id="addFlFile" style="margin-left:20px;"/>
            <div class="modal-footer">
                <span id="FlStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="提交" class="btn btn-success" id="addFlSubmit">
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="deleteAll" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div align="left">
                    <h4 class="modal-title">清空系统数据库所有数据</h4>
                </div>
                <br>
                <span id="deleteAllStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="确认" class="btn btn-success" id="deleteAllSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAir" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div align="left">
                    <h4 class="modal-title">清空本月航后数据(飞行)</h4>
                </div>
                <br>
                <span id="deleteAirStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="确认" class="btn btn-success" id="deleteAirSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteMp" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div align="left">
                    <h4 class="modal-title">清空本月飞行小时费数据(人力)</h4>
                </div>
                <br>
                <span id="deleteMpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="确认" class="btn btn-success" id="deleteMpSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLastMp" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div align="left">
                    <h4 class="modal-title">清空上月飞行小时费数据(人力)</h4>
                </div>
                <br>
                <span id="deleteLastMpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="确认" class="btn btn-success" id="deleteLastMpSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteNextMp" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div align="left">
                    <h4 class="modal-title">清空下月飞行小时费数据(人力)</h4>
                </div>
                <br>
                <span id="deleteNextMpStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="确认" class="btn btn-success" id="deleteNextMpSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteFl" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-footer">
                <div align="left">
                    <h4 class="modal-title">清空本月生产台账(财务)</h4>
                </div>
                <br>
                <span id="deleteFlStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <input type="submit" value="确认" class="btn btn-success" id="deleteFlSubmit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCadre" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="eid">员工编号</label>
                    <input type="text" class="form-control" id="eid" name="eid" placeholder="员工号"
                           onfocus="eidFunction()"/>
                </div>

                <div class="form-group">
                    <label for="name">姓名</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="姓名"/>
                </div>

                <div class="form-group">
                    <label for="department">部门</label>
                    <input type="text" class="form-control" id="department" name="department" placeholder="部门"/>
                </div>

                <div class="form-group">
                    <label for="qualify">技术资格</label>
                    <input type="text" class="form-control" id="qualify" name="qualify" placeholder="技术资格"/>
                </div>

                <div class="form-group">
                    <label for="category">空勤人员类别</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="空勤人员类别"/>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addCadreSubmit" th:text="添加"></button>
                <span id="cadreStatus" style="color: red"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAirline" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="airline">双组航线(三字码)</label>
                    <input type="text" class="form-control" id="airline" name="airline" placeholder="双组航线"
                           onfocus="eidFunction()"/>
                </div>

                <div class="form-group">
                    <label for="airlineRemark">备注</label>
                    <input type="text" class="form-control" id="airlineRemark" name="airlineRemark" placeholder="备注"/>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addAirlineSubmit" th:text="添加"></button>
                <span id="airlineStatus" style="color: red"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNightFlight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="number">过夜航班号</label>
                    <input type="text" class="form-control" id="number" name="number" placeholder="过夜航班号"
                           onfocus="eidFunction()"/>
                </div>
                <div class="form-group">
                    <label for="nightFlightRemarks">备注</label>
                    <input type="text" class="form-control" id="nightFlightRemarks" name="nightFlightRemarks"
                           placeholder="备注"/>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addNightFlightSubmit" th:text="添加"></button>
                <span id="nightFlightStatus" style="color: red"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStageDoubleFlight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="stageDoubleFlightNumber">阶段双组航班号</label>
                    <input type="text" class="form-control" id="stageDoubleFlightNumber" name="stageDoubleFlightNumber"
                           placeholder="阶段双组航班号" onfocus="eidFunction()"/>
                </div>
                <div class="form-group">
                    <label for="stageDoubleFlightRemarks">备注</label>
                    <input type="text" class="form-control" id="stageDoubleFlightRemarks"
                           name="stageDoubleFlightRemarks" placeholder="备注"/>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="addStageDoubleFlightSubmit" th:text="添加"></button>
                <span id="stageDoubleFlightStatus" style="color: red"></span>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="http://localhost:8088/aircrew/static/asserts/vendor/jquery/jquery.min.js"></script>
<script src="http://localhost:8088/aircrew/static/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="http://localhost:8088/aircrew/static/asserts/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="http://localhost:8088/aircrew/static/asserts/js/sb-admin-2.min.js"></script>
<script src="http://localhost:8088/aircrew/static/asserts/js/data.js"></script>
</body>

</html>
