<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.airchina.com.cn/favicon.ico" />
    <title>过夜航班号查看</title>
    <link href="/aircrew/static/asserts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/aircrew/static/asserts/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/aircrew/static/asserts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top" class="sidebar-toggled">
<div id="wrapper" >
    <div th:insert="commons/bar::sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column" style="position: relative;left: 100px;width: 93%;" >
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-5 static-top shadow">
                <div >
                    <div >
                        <h1 class="h3 text-gray-700 mb-4" style="margin-left:10px;margin-top: 30px;">飞行任务书审核辅助系统</h1>
                    </div>
                </div>
                <a>
                    <a style="display:block;position:absolute;right:1%;top:30%;color:grey"  href="/aircrew/logout" >退出</a>
                </a>
            </nav>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">过夜航班号查看</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                    <tr>
                        <th>过夜航班号</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="nightflight:${nightFlightList}">
                        <td th:text="${nightflight.number}"></td>
                        <td th:text="${nightflight.remarks}"></td>
                        <td>
                            <button class="btn-sm btn-primary" data-toggle="modal" data-target="#edit" th:data-number="${nightflight.number}" th:data-remarks="${nightflight.remarks}" >编辑</button>
                            <button th:attr="del_uri=@{/deleteNightFlight=}+${nightflight.number}"  class="btn btn-sm btn-danger deleteBtn">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                        </div>
                        <div style="text-align: center">
                            <p>共 <span th:text="${number}"></span> 趟过夜航班</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Bootstrap core JavaScript-->
            <script th:src="@{/static/asserts/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/static/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

            <!-- Core plugin JavaScript-->
            <script th:src="@{/static/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

            <!-- Custom scripts for all pages-->
            <script th:src="@{/static/asserts/js/sb-admin-2.min.js}"></script>
            <script th:src="@{/static/asserts/js/data.js}"></script>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="addUpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group" align="left">
                    <label for="number" >过夜航班号（不可修改）</label>
                    <input type="text" class="form-control" id = "number" name="number" placeholder="过夜航班号" readonly="readonly"/>
                </div>

                <div class="form-group" align="left">
                    <label for="remarks" >备注</label>
                    <input type="text" class="form-control" id ="remarks" name="remarks" placeholder="备注" />
                </div>
                <span id="nightFlightStatus" style="color: red"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="submit" class="btn btn-success" id="updateNightFlightSubmit" th:text="修改" ></button>
            </div>
        </div>
    </div>
    <form id="deleteNightFlightForm" method="post">
        <input type="hidden" name="_method" value="delete"/>
    </form>
</div>


</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $('#edit').on("show.bs.modal",function(e){
        var number = $(e.relatedTarget).data("number");
        var remarks = $(e.relatedTarget).data("remarks");
        var modal = $(this);
        modal.find('#number').val(number);
        modal.find('#remarks').val(remarks);
    });

    $('#updateNightFlightSubmit').click(function (){
        var number = document.getElementById("number").value;
        var remarks = document.getElementById("remarks").value;
        $.ajax({
            type:"post",
            url:"/aircrew/updateNightFlight",
            data:{
                number : number,
                remarks : remarks
            },
            dataType : "json",
            success : function(data) {
                var msg = data.msg;
                if(msg==="修改成功")
                    $('#nightFlightStatus').css('color','green');
                else
                    $('#nightFlightStatus').css('color','red');
                $('#nightFlightStatus').html(msg);
                self.setInterval(function () {  // 这个方法是说在延迟两秒后执行大括号里的方法
                    location.reload(true);   // 这个方法是刷新当前页面
                }, 2000)
            }
        })
    });

    $(".deleteBtn").click(function () {
        if(confirm('确认删除?')){
        $("#deleteNightFlightForm").attr("action",$(this).attr("del_uri")).submit();
        }
        else
            return false;
    })


</script>
</html>