<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>bar</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->


<!--&lt;!&ndash;<body th:inline="text">&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="col-md-1 d-none d-md-block bg-light sidebar" th:fragment="sidebar">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sidebar-sticky">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="nav flex-column">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:class="${activeUri}=='pilot'?'nav-link active':'nav-link'"&ndash;&gt;-->
<!--&lt;!&ndash;                   href="/aircrew/pilot"  >&ndash;&gt;-->
<!--&lt;!&ndash;                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                    数据管理&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item" shiro:hasPermission="user:update">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:class="${activeUri}=='check'?'nav-link active':'nav-link'"&ndash;&gt;-->
<!--&lt;!&ndash;                   href="/aircrew/pilot/pilotcheck/check">&ndash;&gt;-->
<!--&lt;!&ndash;                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                    飞行闭环&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:class="${activeUri}=='flight'?'nav-link active':'nav-link'"&ndash;&gt;-->
<!--&lt;!&ndash;                   href="/aircrew/doubleFlight/flight">&ndash;&gt;-->
<!--&lt;!&ndash;                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                    双机长航班&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/dashboard/#">&ndash;&gt;-->
<!--&lt;!&ndash;                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                    系统帮助&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="nav-link" href="/aircrew/logout">&ndash;&gt;-->
<!--&lt;!&ndash;                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                    退出&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>bar</title>-->
<!--</head>-->

<!--<body th:inline="text">-->
<!--<nav class="sidebar" th:fragment="sidebar">-->
<!--    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">-->
<!--        <a class="sidebar-brand d-flex align-items-center justify-content-center">-->
<!--            <div class="sidebar-brand-icon rotate-n-15">-->
<!--                <i class="fas fa-laugh-wink"></i>-->
<!--            </div>-->
<!--            <div class="sidebar-brand-text mx-3"></div>-->
<!--        </a>-->
<!--        <hr class="sidebar-divider my-0">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/aircrew/data/data.html">-->
<!--                <i class="fas fa-fw fa-folder-open"></i>-->
<!--                <span>数据管理</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="check.html">-->
<!--                <i class="fas fa-fw fa-spinner"></i>-->
<!--                <span>飞行闭环检查</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="charts.html">-->
<!--                <i class="fas fa-fw fa-plane"></i>-->
<!--                <span>双机长航班查看</span></a>-->
<!--        </li>-->
<!--        <hr class="sidebar-divider my-0">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/aircrew/logout">-->
<!--                <i class="fas fa-fw fa-power-off"></i>-->
<!--                <span>退出</span></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<div th:fragment="sidebar" style="z-index: 9999; position: fixed ! important; left: 0px; top: 0px;">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/aircrew/data/data.html">
            <i class="fas fa-fw fa-folder-open"></i>
            <span>数据管理</span></a>
    </li>
    <li class="nav-item" shiro:hasPermission="user:check">
        <a class="nav-link" href="/aircrew/check/check.html">
            <i class="fas fa-fw fa-spinner"></i>
            <span>飞行闭环</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/aircrew/doubleFlight/flight.html">
            <i class="fas fa-fw fa-plane"></i>
            <span>双机长航班</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/aircrew/logout">
            <i class="fas fa-fw fa-power-off"></i>
            <span>退出</span></a>
    </li>
</ul>
</div>