<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.airchina.com.cn/favicon.ico" />
    <title>飞行闭环检查</title>
    <link href="/aircrew/static/asserts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/aircrew/static/asserts/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/aircrew/static/asserts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<style>
    th {
        font-size: 14px;
    }

    td {
        font-size: 14px;
    }
</style>

<body id="page-top" class="sidebar-toggled">
<div id="wrapper">
    <div th:insert="commons/bar::sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column" style="position: relative;left: 100px;width: 93%;">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
                <div>
                    <div>
                        <h1 class="h3 text-gray-700 mb-4" style="margin-left:10px;margin-top: 30px;">飞行任务书审核辅助系统</h1>
                    </div>
                </div>
                <a>
                    <a style="display:block;position:absolute;right:1%;top:30%;color:grey" href="/aircrew/logout">退出</a>
                </a>
            </nav>
            <div class="container-fluid" style="background-color: white;margin-top: 10px;">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">飞行闭环检查</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>人员编号</th>
                                    <th>姓名</th>
                                    <th>城市三字码</th>
                                    <th>航班号</th>
                                    <th>任务性质</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pilot:${errorPilotInfo.list}">
                                    <td th:text="${pilot.date}"></td>
                                    <td th:text="${pilot.eid}"></td>
                                    <td th:text="${pilot.name}"></td>
                                    <td th:text="${pilot.tcc}"></td>
                                    <td th:text="${pilot.flightNo}"></td>
                                    <td th:text="${pilot.property}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <a href="/aircrew/check/excelDownload" type="button" class="btn btn-primary">下载检查数据</a>
                            </div>
                        </div>
                        <div style="text-align: center">
                            共 <span th:text="${errorPilotInfo.total}"></span> 条记录
                        </div>
                        <div style="text-align: center">
                            <span> 说明:调组乘机乘车数据来自飞行小时费(人力)数据，其余数据来自航后（飞行)数据</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap core JavaScript-->
            <script th:src="@{/static/asserts/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/static/asserts/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

            <!-- Core plugin JavaScript-->
            <script th:src="@{/static/asserts/vendor/jquery-easing/jquery.easing.min.js}"></script>

            <!-- Custom scripts for all pages-->
            <script th:src="@{/static/asserts/js/sb-admin-2.min.js}"></script>
            <script th:src="@{/static/asserts/js/data.js}"></script>
        </div>
    </div>
</div>
</body>
</html>